name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2

      - name: Run linter
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          version: "25.9.0"